body{
    font-size:16px;
}
h1{
    font-size:65px;
    color:orange;
    font-family: sans-serif;

}

.amarelo {
    background-color: yellow;    
    
}
.vermelho {
    background-color: red;
}

.marrom {
    background-color: brown;
}

p{
    font-weight: 600;
    font-size: 3em;
}
ul{
    background-color: cyan;
    line-height: 30px;
    text-align: center;
    list-style: none;
}

.color {
    background-color: sandybrown;
}