body {
  background-color: #eee;
}

.buttons-group { 
  display: flex;
  justify-content: center;
}

.dados-pessoais, .dados-curriculo {
  margin: 0 auto;
  display: flex;
  flex-flow: column nowrap;
  width:40%;
  padding: 20px;
}

.dados-pessoais {
  margin-bottom: 20px;
}

input, textarea {
  margin-top: 5px;
  margin-bottom: 5px;
}

.buttons {
  padding: 3px 10px;
  width:100px;
  margin: 10px 10px 0 0;
}
