.square {
  border: 1px solid black;
  border-radius: 10px;
  display: flex;
  height: 100px;
  justify-content: space-around;
  margin: 20px;
  padding: 20px;
  width: 300px;
}

.pokedex {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: auto;
}

.pokemonInfo {
  align-items: center;
  display: flex;
  flex-flow: column;
  margin-top: 10px;
}

.pokemonInfo > h4 {
  margin-block-end: 5px;
  margin-block-start: 0;
}

.showDeBola {
  align-items: center;
  display: flex;
  flex-flow: column;
}
